
button.gold-class {
  background: #009688;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  cursor: pointer;
  }
  
button.silver-class {
  background:  #bdbdbd;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12); 
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white;
  cursor: pointer;
  
  }
  
.gold-class > .mat-calendar-body-cell-content {
    color: white !important;
}


.trophy{
  width: 50px;
  height: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  cursor: pointer;
}