<section class="mt-10">
    <app-calendar></app-calendar>
</section>

<section>
    <mat-tab-group [selectedIndex]="selectedTab" >
        <mat-tab label="Tareas" >
            <ng-template mat-tab-label>
                <mat-icon class="taskjournal-tab-icon">checklist</mat-icon>
                Actividades
            </ng-template>
            <app-tasklist (entryCreated)="createEntryProcess($event)"></app-tasklist>
        </mat-tab>
        <mat-tab label="Diario">
            <ng-template mat-tab-label>
                <mat-icon class="taskjournal-tab-icon">menu_book</mat-icon>
                Diario
            </ng-template>
            <app-journal [entry]="entryForJournal"></app-journal>            
        </mat-tab>
    </mat-tab-group>
</section>

