<section class="bg-white-500 text-teal-500 pt-3">
    <div class="container mx-auto px-6 flex md:flex-row items-center justify-end">
        <button (click)="openDialog()" class="mr-2 border border-yellow-500 text-yellow-500 bg-transparent hover:bg-yellow-500 hover:text-white px-4 py-2 rounded-full transition duration-300 flex items-center justify-center">
            Tienes {{tokens}} Tokens
        </button>

        <button (click)="logout()" class="border border-teal-500 text-teal-500 bg-transparent hover:bg-teal-500 hover:text-white px-4 py-2 rounded-full transition duration-300 flex items-center justify-center">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</section>


<section class="mt-4">
    <app-calendar></app-calendar>
</section>

<section>
    <mat-tab-group [selectedIndex]="selectedTab" >
        <mat-tab label="Tareas" >
            <ng-template mat-tab-label>
                <mat-icon class="taskjournal-tab-icon">checklist</mat-icon>
                Actividades
            </ng-template>
            <app-tasklist (entryCreated)="createEntryProcess($event)"></app-tasklist>
        </mat-tab>
        <mat-tab label="Diario">
            <ng-template mat-tab-label>
                <mat-icon class="taskjournal-tab-icon">menu_book</mat-icon>
                Diario
            </ng-template>
            <app-journal [entry]="entryForJournal"></app-journal>            
        </mat-tab>
    </mat-tab-group>
</section>

