<section class="todoapp">
  <header class="header">
    <div class="container">
      <div class="mt-10">
        <app-calendar></app-calendar>
      </div>
      <input class="new-todo rounded-full" placeholder="Nombre de la tarea" autofocus type="text" [formControl]="newTaskCtrl"
        (keydown.enter)="changeHandler()" />
    </div>
  </header>
  <div class="container todoapp-wrapper">
    <section class="main">
      <ul class="todo-list" *ngFor="let task of tasks() index as i">
        <li [class.completed]="task.completed">
          <div class="view">
            <input class="toggle" type="checkbox" [checked]="task.completed" (change)="updateTask(task.taskId, i)" />
            <label>{{task.name}}</label>
            <button class="btn-delete destroy" (click)="deleteTask(task.taskId, i)"></button>
          </div>
        </li>
      </ul>
    </section>
  </div>

</section>
<div class="flex flex-row justify-center">
  <button (click)="prepararNavegacion()" class="basis-1/2 bg-transparent hover:bg-cyan-500 text-cyan-700 font-semibold hover:text-white py-2 px-4 border border-cyan-500 hover:border-transparent rounded">
    CERRAR DIA</button>
</div>