<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>Hoy</h1>
      <input class="new-todo" placeholder="Nombre de la tarea" autofocus type="text" [formControl]="newTaskCtrl"
        (keydown.enter)="changeHandler()" />
    </div>
  </header>
  <div class="container todoapp-wrapper">
    <section class="main">
      <ul class="todo-list" *ngFor="let task of tasks() index as i">
        <li [class.completed]="task.completed">
          <div class="view">
            <input class="toggle" type="checkbox" [checked]="task.completed" (change)="updateTask(task.taskId, i)" />
            <label>{{task.name}}</label>
            <button class="destroy" (click)="deleteTask(task.taskId, i)"></button>
          </div>
        </li>
      </ul>
    </section>
  </div>
  <div>
    <button name="button" >CERRAR DÍA</button>
  </div>
</section>